body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
	max-width: 80%;
	margin: 0 auto;
}

.question-card{
	display: inline-block;
	color: red;
	border-style: solid;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	width: 220px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
}

.question-card:hover {
	background-color: #ecf0f1;
	cursor: pointer;
}

.correct{
	background-color: green;
}

.correct:hover {
	background-color: green;
}

.incorrect {
	background-color: black;
}

.incorrect:hover {
	background-color: black;
}

h3{
	text-align: center;
}

.maincontainer{
	text-align: center;
}

#button{
	display: inline-block;
	text-align: center;
}
