<section class='score'>
	<p>Correctly answered: {{game.correctCounter}}</h2>
	<p>Incorrectly answered: {{game.incorrectCounter}}</h2>
</section>


<section class='cards'>

	<h2 class="maincontainer">{{game.question}}</h2>

	<div class="maincontainer row">
		<div class="questioncard" ng-repeat='choice in game.choices'>
			<h3 class={{$index}} ng-click="game.checkAnswer(choice)">{{choice.city}}</h3>
			<p ng-show='game.playerCorrect || game.playerIncorrect'>{{choice.value}}</p>
		</div>
	</div>
		<h3 ng-show='game.playerCorrect'>Correct</h3>
		<h3 ng-show='game.playerIncorrect'>Incorrect</h3>

		<h3 ng-show='game.playerCorrect || game.playerIncorrect'>Correct answer: {{game.correctAnswer.city}}</h3>
	
	<div id="button">
	<input ng-show='game.playerCorrect || game.playerIncorrect' ng-click='game.generateQuestion()' type='image' src="images/svg/arrows.svg" width="30px" value="Next question">
	</div>

</section>