<section class='cards'>

	<h2>{{game.question}}</h2>

	<h3 ng-show='game.playerCorrect'>Correct</h3>
	<h3 ng-show='game.playerIncorrect'>Incorrect</h3>

	<h3 ng-show='game.playerCorrect || game.playerIncorrect'>Correct answer: {{game.correctAnswer.city}}</h3>

	<ul ng-repeat='choice in game.choices'>

		<li>
			<h3 ng-click="game.checkAnswer(choice)">{{choice.city}}</h3>
			<p ng-show='game.playerCorrect || game.playerIncorrect'>{{choice.value}}</p>
		</li>


	</ul>

	<input ng-show='game.playerCorrect || game.playerIncorrect' ng-click='game.generateQuestion()' type='button' value="Next question">


</section>